body {
    background-color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    width: 600px;
    height: 100%;
    margin: auto;
}

#header {
    width: 100%;
    margin-top: 40px;
    //border: 1px solid #000;
}


#results {
    width: 100%;
    margin-top: 40px;
    //border: 1px solid #000;
}

#results h2 {
    color: #53b6d0;
    font-weight: 300;
}

#results li {
    margin-bottom: 5px;
    list-style-type: none;
}

#title, #search-bar {
    display: inline-block;
}

#title {
    float: left;
}

#title a {
    text-decoration: none;
    color: #777;
    font-size: 2em;
    font-weight: 400;
}

#title a:hover {
    color: #242424;
}

#search-bar {
    float: right;
}

input[type=text],
input[type=text]:hover,
input[type=text]:focus,
input[type=text]:active
{
    background-color: transparent; 
    border-style: solid;
    border-width: 0px 0px 1px 0px; 
    border-color: #ccc;
    outline: none;
    font-size: 1.5em;
    color: #242424;
}

#search-btn i {
    color: #777;
    font-size: 1.2em;
}

#search-btn {
    display: inline-block;
}

#search-btn:hover {
    cursor: pointer;
}