body {
    background-color: #f1f1f1;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    width: 600px;
    height: 100%;
    margin: auto;
}

#greeting {
    margin: auto;
    margin-top: 30%;
    text-align: center;
}

#greeting.title {
    display: block;
}

#greeting a {
    font-size: 4em;
}

#greeting form {
    display: block;
    margin-top: 20px;
}

#header {
    width: 100%;
    margin-top: 40px;
    //border: 1px solid #000;
}

#header form {
    float: right;
}

#results {
    width: 100%;
    margin-top: 40px;
    //border: 1px solid #000;
}

#results h2 {
    color: #53b6d0;
    font-weight: 300;
}

#results li {
    margin-bottom: 10px;
    list-style-type: none;
}

#no-result {
    margin-top: 50px;
    text-align: center;
}

.title, .search-bar {
    display: inline-block;
}

.title a {
    text-decoration: none;
    color: #777;
    font-size: 2em;
    font-weight: 400;
}

.title a:hover {
    color: #53b6d0;
}

header.search-bar {
    float: right;
}

input[type=text],
input[type=text]:hover,
input[type=text]:focus,
input[type=text]:active
{
    background-color: transparent; 
    border-style: solid;
    border-width: 0px 0px 1px 0px; 
    border-color: #ccc;
    outline: none;
    font-size: 1.5em;
    color: #242424;
    width: 250px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

.search-btn i {
    color: #777;
    font-size: 1.2em;
}

.search-btn {
    display: inline-block;
}

.search-btn:hover {
    cursor: pointer;
}

